//
   Created by admin on 5/28/2017.

html
    head
        title= title

        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
        script#stat_enhropy(type='application/json')= JSON.stringify(stat_enhropy)
        script#stat_users(type='application/json')= JSON.stringify(stat_users)
        script#allTotal(type='application/json')= JSON.stringify(allTotal)
        script#dailyTotal(type='application/json')= JSON.stringify(dailyTotal)

        script.
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
    body
        div(style="display: block; width: 840px; height: 100px;")
            h1= `Total: ${allTotal.total}`
            h2= `Today: ${dailyTotal.total}`
        div(style="display: block; width: 840px; height: 420px;")
            canvas(id="myChart")
        div(style="display: block; width: 900px; height: 420px;")
            canvas(id="myPie")

        script.
            var data  = !{JSON.stringify(stat_enhropy.data)};
            var ctx = document.getElementById("myChart").getContext('2d');
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.map(function(item){return item.day;}),
                    datasets: [{
                        label: 'Messages/day in !{stat_enhropy.chatname}',
                        data: data.map(function(item){return item.count;}),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            var pieData = !{JSON.stringify(stat_users.data)};
            var ctxPie = document.getElementById("myPie").getContext('2d');
            var lineChart = new Chart(ctxPie, {
                type: 'horizontalBar',
                data: {
                labels: pieData.map(function(item){return `${item.firstName == null ? '' : item.firstName} ${item.lastName == null ? '' : item.lastName}` ;}),
                    datasets: [{
                        label: 'Messages by users in !{stat_enhropy.chatname}',
                        data: pieData.map(function(item){return item.count;}),
                        backgroundColor: pieData.map(function(item){return getRandomColor();})
                    }]
                },
                options: {
                    title: {
                        display: false,
                        text: '!{stat_enhropy.chatname}'
                     }
                },
            });

