//
   Created by admin on 5/28/2017.

html
    head
        title= title
        meta(property="og:title" content="ProgConf Statistic")
        meta(property="og:url" content= ogUrl)
        meta(property="og:image" content="http://progconfbot.herokuapp.com/images/bill.png")
        meta(property="og:description" content="2ch /pr progConf bot")
        meta(property="og:type" content="website")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")

        script.
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
    body
        div(style="display: block; width: 840px; height: 200px;")
            h1= `Total messages: ${allTotal.messagesTotal}`
            h1= `Total stickers: ${allTotal.stickersTotal}`
            h2= `Today messages: ${dailyTotal.todayMessagesTotal}(${dailyTotal.messagesDirection})`
            h2= `Today stickers: ${dailyTotal.todayStickersTotal}(${dailyTotal.stickersDirection})`
        div(style="display: block; width: 900px; height: 420px;")
            canvas(id="myChart")
        div(style="display: block; width: 900px; height: 420px;")
            canvas(id="myStickersChart")
        div(style="display: block; width: 900px; height: 420px;")
            canvas(id="myPie")
        div(style="display: block; width: 900px; height: 420px;")
            canvas(id="myPieStickers")

        script.
            var data  = !{JSON.stringify(statMessagesInChat.data)};
            var ctx = document.getElementById("myChart").getContext('2d');
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.map(function(item){return item.day;}),
                    datasets: [{
                        label: 'Messages/day in !{statMessagesInChat.chatname}',
                        data: data.map(function(item){return item.count;}),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            var stickersData  = !{JSON.stringify(statStickersInChat.data)};
            var ctxStickers = document.getElementById("myStickersChart").getContext('2d');
            var lineChart = new Chart(ctxStickers, {
                type: 'line',
                data: {
                    labels: stickersData.map(function(item){return item.day;}),
                    datasets: [{
                        label: 'Stickers/day in !{statStickersInChat.chatname}',
                        data: stickersData.map(function(item){return item.count;}),
                        backgroundColor: 'rgba(152, 99, 132, 0.2)',
                        borderColor: 'rgba(152,99,132,1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });


            var pieData = !{JSON.stringify(statMessagesByUser.data)};
            var ctxPie = document.getElementById("myPie").getContext('2d');
            var lineChart = new Chart(ctxPie, {
                type: 'horizontalBar',
                data: {
                labels: pieData.map(function(item){return `${item.firstName == null ? '' : item.firstName} ${item.lastName == null ? '' : item.lastName}` ;}),
                    datasets: [{
                        label: 'Messages by users in !{statMessagesByUser.chatname}',
                        data: pieData.map(function(item){return item.count;}),
                        backgroundColor: pieData.map(function(item){return getRandomColor();})
                    }]
                },
                options: {
                    title: {
                        display: false,
                        text: '!{statMessagesByUser.chatname}'
                     }
                },
            });

            var pieStickersData = !{JSON.stringify(statStickersByUser.data)};
            var ctxPieStickers = document.getElementById("myPieStickers").getContext('2d');
            var lineChart = new Chart(ctxPieStickers, {
                type: 'horizontalBar',
                data: {
                labels: pieStickersData.map(function(item){return `${item.firstName == null ? '' : item.firstName} ${item.lastName == null ? '' : item.lastName}` ;}),
                    datasets: [{
                        label: 'Stickers by users in !{statStickersByUser.chatname}',
                        data: pieStickersData.map(function(item){return item.count;}),
                        backgroundColor: pieStickersData.map(function(item){return getRandomColor();})
                    }]
                },
                options: {
                    title: {
                        display: false,
                        text: '!{statStickersByUser.chatname}'
                     }
                },
            });

